@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
    font-family: 'Open Sans', sans-serif;
}
nav ul{
    list-style-type: none;
}

.gameContainer{
display: flex;
margin-top: 50px;
}

.container{
    margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-template-rows: repeat(3, 10vw);
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

/* .container div{
    border: 2px solid black;
} */

.box{
    border: 2px solid  black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.box:hover{
    background-color: rgb(224, 216, 231);
}

.info{
    font-size: 25px;
}

.gameInfo{
    padding: 0 34px;
    font-family: 'Open Sans', sans-serif;
}

.gameInfo h1{
    font-size: 2.5rem;
}
.imagebox img{
    /* display: none; */
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 23px;
    padding: 6px 14px;
    background-color: rgb(242, 235, 242);
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
}

.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: rgb(246, 170, 246);
    border-radius: 3px;
    /* transform: translate(10vw, 20vw) rotate(90deg); */
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px){
    .gameContainer{
        flex-wrap: wrap;
    }

    .gameInfo{
        margin-top: 34px;
    }

    .gameInfo h1{
        font-size: 1.5rem;
    }

    .container{
        display: grid;
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}